# Multigate configuration file
#
# Everything after a '#' and empty lines are ignored
# Syntax: item = value
# Be sure this file is mode 600, because it contains passwords for database
# connections and protocolwrappers
#
# Last changed: 01/09/2005

multiversion = 3.0

#default_protocols: space separated protocol names
default_protocols = urllogger irc

#restart_protocols: space separated protocol names. 'none' for no restartable protocols
restart_protocols = irc icq msn 

#Minimum number of seconds before an automatic restart
restart_timeout = 90

godlevel = 1000
atlevel = 100
protocollevel = 100
msglevel = 100

# max bytes written to wrapper (including header)
max_message_length = 2048 # half a pipe on linux

# Development version (1) or not (0)
dev = 0

# Use CommandSimple for command-expansion
simple_command = 0 # 0 = No; 1 = Yes

#database
db_passwd = xxxxx
db_user =   xxxxx
db_name = multigate

#accounting info
accountlog = /home/multilink/multigate/accountlog/


# Wrapper specific config
irc_nick = Multigate
irc_server = irc.xxxx.xx
irc_port   = 6667
irc_bindaddr = 0.0.0.0   # bind on any addr


#channels (space separated)
irc_channel = multidev     #irc wrapper will add the "#" in front off channel

#reply on CTCP Version:
irc_version =  Multigate irc wrapper; www.multigator.net  

#broadcast urls mentioned on irc
irc_urlspam = 0

icq_number = xxxxx  #real multi number
icq_pass = xxxxx

msn_login = xxxxxxx
msn_pass = xxxxxxx
msn_fname = Multigate

jabber_login = xxxxx
jabber_server = jabber.com
jabber_pass = xxxx

email_address = Multigate <multilink@ringbreak.dnd.utwente.nl>

urllogger_urlfile = web/autolink.shtml
urllogger_allurlfile = web/allautolink.shtml
